Total Quotes Found: <%= @total_count %>

<% @quotes.each do |quote| %>
    <ul class='quote' id="id-<%= quote.id %>">
      <li><%= quote.author %></li>
      <li><%= quote.content %></li>
      <li><%= quote.tags %></li>
    </ul>
  <br>
<% end %>