<h1>Search Results: <%=@search_term%> </h1>
<p>Total quotes: <%= @results.num_results %></p>

<% @results.quotes.each_with_index do |quote, index| %>
  <div id="quote-<%= index %>">
    <p><strong><%= quote.content %> </strong> </p>
    <p>Author: <%= quote.author %>   |  Category: <%= quote.category.join(', ') %> </p>
  </div>
<% end %>
