<!DOCTYPE html>
<html>
  <head>
    <title>QuoteFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="logo-container">
          <span><%= image_tag("Quote-512.png", class: "quote") %>
          <h1>Quote Finder</a></span>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
